name: Bump Version

on:
  pull_request:
    types: [closed]

jobs:

  bump-version:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: conjikidow/bump-version@361caa807c3c47fd985991dece9385cfa6d9c72b # v2.0.1
        with:
          label-major: 'update::major'
          label-minor: 'update::minor'
          label-patch: 'update::patch'
          labels-to-add: 'automated,versioning'
          create-release: 'true'
