name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

env:
  TYPST_MAIN_FILES: main.typ # Space-separated list of main files

permissions:
  contents: read

jobs:

  determine-changes:
    name: Determine changed files
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.changed-files.outputs.src_any_changed }}
      doc: ${{ steps.changed-files.outputs.doc_any_changed }}
      test: ${{ steps.changed-files.outputs.test_any_changed }}
      workflow: ${{ steps.changed-files.outputs.workflow_any_changed }}
      workflow_ci: ${{ steps.changed-files.outputs.workflow_ci_any_changed }}
      typst: ${{ steps.changed-files.outputs.typst_any_changed }}

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Determine changed files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        id: changed-files
        with:
          files_yaml: |
            src:
              - '**/src/**'
              - '!**/src/**/*.md'
            doc:
              - '**/*.md'
              - '**/docs/**'
            test:
              - '**/tests/**'
              - '!**/tests/**/*.md'
            workflow:
              - .github/workflows/**
            workflow_ci:
              - .github/workflows/ci.yaml
            typst:
              - '**/**.typ'

  lint-gh-actions:
    name: Lint GitHub Actions
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.workflow == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      security-events: write

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run actionlint (github-check)
        uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1.70.0
        if: github.event_name != 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-check
          fail_level: error

      - name: Run actionlint (github-pr-review)
        uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1.70.0
        if: github.event_name == 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@0dce2577a4760a2749d8cfb7a84b7d5585ebcb7d # v0.5.0
        # with:
        #   advanced-security: false  # must be false for private repo

  check-typos:
    name: Check typos
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Check spelling
        uses: crate-ci/typos@ad3053d3adbcce7f2e3c60fd4ddfc239787d1eff # v1.43.2
        with:
          files: |
            .
            .github/**

  format-typst:
    name: Format Typst
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.typst == 'true' || needs.determine-changes.outputs.workflow_ci == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run typstyle
        uses: typstyle-rs/typstyle-action@637f310823ba2247602dda2bdb9b25e037885970

      - name: Check formatting
        run: |
          # Show unified diff to help reviewers
          git --no-pager diff
          # Fail when there are changes
          if ! git diff --quiet; then
            echo "::error title=typstyle::Formatting required. Please run typstyle locally or push a commit with formatted files."
            exit 1
          fi
        shell: bash

  build-typst:
    name: Build Typst
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.typst == 'true' || needs.determine-changes.outputs.workflow_ci == 'true' }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        typst-version: ['^0.12.0', '^0.13.0', '^0.14.2']

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Typst
        uses: typst-community/setup-typst@48aeee7543d37f01afd1ffb27307dc277387ba13 # v4.3.1
        with:
          typst-version: ${{ matrix.typst-version }}

      - name: Check tools version
        run: |
          typst --version

      - name: Build Typst files
        run: |
          for file in $TYPST_MAIN_FILES; do
            out="build/${file%.typ}.pdf"
            mkdir -p "$(dirname "$out")"
            typst compile --root . "$file" "$out"
          done

  lint-commit-messages:
    name: Lint commit messages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Commitizen
        uses: commitizen-tools/setup-cz@578def531656e522cd8978e6df62d626593e0a5f # v0.7.0
        with:
          python-version: '3.x'

      - name: Lint commit messages on push
        if: github.event_name == 'push'
        run: cz check --rev-range ${{ github.event.before }}..${{ github.sha }}

      - name: Lint commit messages on pull request
        if: github.event_name == 'pull_request'
        run: cz check --rev-range ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}
