name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

env:
  TYPST_MAIN_FILES: main.typ # Space-separated list of main files

jobs:

  determine-changes:
    name: Determine changed files
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.changed-files.outputs.src_any_changed }}
      doc: ${{ steps.changed-files.outputs.doc_any_changed }}
      test: ${{ steps.changed-files.outputs.test_any_changed }}
      workflow: ${{ steps.changed-files.outputs.workflow_any_changed }}
      typst: ${{ steps.changed-files.outputs.typst_any_changed }}

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Determine changed files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: changed-files
        with:
          files_yaml: |
            src:
              - src/**
            doc:
              - '**/**.md'
              - docs/**
            test:
              - tests/**
              - '!tests/**.md'
            workflow:
              - .github/workflows/**
            typst:
              - '**/**.typ'

  lint-gh-actions:
    name: Lint GitHub Actions
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.workflow == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.68.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_level: error

  check-spelling:
    name: Check spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check spelling
        uses: crate-ci/typos@626c4bedb751ce0b7f03262ca97ddda9a076ae1c # v1.39.2
        with:
          files: |
            .
            .github/**

  format-typst:
    name: Format Typst
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.typst == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run typstyle
        uses: typstyle-rs/typstyle-action@675cf7c33ccd7af5c612fa80b6d2555edf96ffd8 # v0.9.3

      - name: Check formatting
        run: |
          # Show unified diff to help reviewers
          git --no-pager diff
          # Fail when there are changes
          if ! git diff --quiet; then
            echo "::error title=typstyle::Formatting required. Please run typstyle locally or push a commit with formatted files."
            exit 1
          fi
        shell: bash

  build-typst:
    name: Build Typst
    needs: determine-changes
    if: ${{ needs.determine-changes.outputs.typst == 'true' }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        typst-version: ['^0.12.0', '^0.13.0']

    steps:
      - name: Checkout the main repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Typst
        uses: typst-community/setup-typst@cc7e12f160f0836bade6afcfbcf5da76c7a511bc # v4.3.0
        with:
          typst-version: ${{ matrix.typst-version }}

      - name: Check tools version
        run: |
          typst --version

      - name: Build Typst files
        run: |
          for file in $TYPST_MAIN_FILES; do
            out="build/${file%.typ}.pdf"
            mkdir -p "$(dirname "$out")"
            typst compile --root . "$file" "$out"
          done
